{
    // Uncomment Respective Font Selection
    // "font_face": "Source Code Pro Extra Light",
    // "font_face": "Anonymous Pro",
    // "font_face": "Liberation Mono",
    // "font_face": "Ubuntu Mono",
    "font_size": 11, 
    "line_padding_bottom": -1, 
    "line_padding_top": 0,
    "highlight_line": true,
    "fade_fold_buttons": false,
    "translate_tabs_to_spaces": true
}
